#
# /usr/share/doc/rhel-system-roles/network/example-bridge_with_vlan-playbook.yml 
# creates a few things like this.
#   brpublic              linux bridge
#   bridge-public          bridge
#   bridge-public-enp2s0f0 ethernet

- name: Install RPM package
  dnf:
    name: rhel-system-roles
    state: present

# Assume a simple machine with only one ethernet port.
- name: Find the network interface name
  set_fact:
    libvirt_net_public_ethernet_port: "{{ ansible_facts['default_ipv4']['interface'] }}"

- name: Display the interface name
  debug:
    var: libvirt_net_public_ethernet_port

# requires gather_facts to set ansible_python
# no convinced this is doing "nmcli con up bridge-public"
- name: Set up the public bridge
  vars:
    network_connections:
      #
      # Create a bridge profile
      - name: "{{ public_nmcli_name }}"
        state: up
        type: bridge
        # interface_name defaults to the connection name
        interface_name: "{{ public_bridge_name }}"
        ip:
          dhcp4: true
          auto6: true
      #
      # set an ethernet port to the bridge
      - name: "{{ public_nmcli_name }}-{{ libvirt_net_public_ethernet_port }}"
        state: up
        type: ethernet
        interface_name: "{{ libvirt_net_public_ethernet_port }}"
        controller: "{{ public_nmcli_name }}"
        port_type: bridge
  ansible.builtin.include_role:
    # RHEL
    # name: rhel-system-roles.network
    # Fedora
    name: linux-system-roles.network
